/* IMPORTS */
@import './normalize.css';
/* @import url('https://fonts.googleapis.com/'); */

/* GLOBAL */
/* :root {
    --primary-color: #;
    --secondary-color: #;
    --tertiary-color: #;
} */

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* body {
    font-family: #; 
} */

a {
    text-decoration: none;
    /* color: #; */
}

img {
    object-fit: cover;
}

/* HEADER */
.header {
    display: flex;
    margin: 3rem;
}

/* .logo-pc {
    width: 100px;
}

.logo-mobile {
    display: none;
} */

/* @media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        margin: 0;
    }

    .logo-pc {
        display: none;
    }

    .logo-mobile {
        display: block;
        margin-top: 20px;
        width: 160px;
        height: 80px;
    }
} */

/* END HEADER */
